<div class="grid grid-cols-2 ">
    <div class="mt-5 mb-5 flex flex-col items-center">
        <div class="contenedor border-2 w-4/4 text-center p-4 ml-6">
            <div class="mb-3 mr-10">
                <input type="text" placeholder="ingresa nombre tarea" #valor  class="rounded border-2 mb-3 ml-10 pl-8 pr-8">
              </div>
              <div class="mb-3 ml-1">
                <textarea name="" #descripcion 
                 cols="30" rows="10" class="rounded-lg border-2 pl-3" placeholder="Ingresa descripcion"></textarea>
              </div>
              <div class="mb-1">
                <button class="bg-sky-500 pl-10 pr-10 pt-2 pb-2 rounded text-white" (click)="guardar(valor.value, descripcion.value)">
                  <strong>Guardar</strong>
                </button>
              </div>
        </div>
    </div>
    <app-lista
        [valList]="val"
        [descList]="desc"
        [listaList]="lista">
      
      </app-lista>
  </div>
  <div>
        <!-- <p>{{val}}</p>
        <p>{{desc}}</p>
        <p>{{lista}}</p>  -->
  </div>

